.TitleStarshipsStyle {
  color: aliceblue;
  padding: 2px 2px;
  margin: 5px;
}

.LogoStyle {
  display: flexbox;
  width: 25%;
  padding-bottom: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 35%;
  margin-right: 55%;
 
 
  align-items: center;
  text-align: center;
 
}

.LogiSignUpStyle {
  display:contents;
  flex-direction: row;
  margin-left: 3%;
  margin-right: 3%;
  color: #0274ad;
  border-style: groove;
  border-width: 1px;
  text-shadow: #00A9FF;
  font-family: "Sarpanch", sans-serif;
}

.DataStyle {
  color: white;
  font-family: "Sarpanch", sans-serif;
  list-style-type: none;
  background-color: rgb(24, 22, 22);
  border-radius: 3px;
  margin: 5px;
  padding: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 0.9;
}
.ModelStarshipStyle {
  font-weight: 100;
  font-size: 13px;
  list-style-type: none;
}

.BodyStyle{
background: url("./img/rey-kylo_escenehome.jpg");
background-size: cover;
  height: 100%;  
  padding: 20%;
  margin-top: 4px;
  border-radius: 5px;
  width: 100%;
  opacity: 0.7;
  color: transparent;
}
 
.ParagraphLogin{
  color: white;
  font-family: "Sarpanch", sans-serif;
  margin: 2px;  
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}

