
.LogoStyle {
  display: flexbox;
  width: 30%; 
  margin-top: 1px; 
  margin-left: 40%;
  margin-right: 20%;
  filter: drop-shadow(0.35rem 0.35rem 0.7rem aliceblue);
}

.LogiSignUpStyle {
  display:contents;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  color: #0274ad;
  text-shadow: #00A9FF;
  font-family: "Sarpanch", sans-serif;
}

.DataStyle {
  color: white;
  font-family: "Sarpanch", sans-serif;
  list-style-type: none;
  background-color: rgb(24, 22, 22);
  border-radius: 3px;
  margin: 5px;
  padding: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 0.9;
}
.ModelStarshipStyle {
  font-weight: 100;
  font-size: 13px;
  list-style-type: none;
}

.BodyStyle{
background: url("./img/rey-kylo_escenehome.jpg");
background-size: cover;
  height: 100%;  
  padding: 19%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 9px;
  width: 100%;
  opacity: 0.7;
  color: transparent;
}
 
.ParagraphLogin{
  color: white;
  font-family: "Sarpanch", sans-serif;
  margin: 2px;  
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}

